/* General */

* {
  box-sizing: boder-box;
}

* {
  font-family: monospace;
}

body {
  margin: 0px;
}

/* Layout */

.header {
  text-align: center;
  padding: 25px;
  background-color: cornflowerblue;
}

.main {
  padding: 40px;
  padding-bottom: 0px;
}

.footer {
  padding: 40px;
  padding-top: 0px;
}

section {
  padding-left: 25px;
  border-top: 2px dotted darkslategray;
}

section ~ section {
  border-top: 2px dotted darkslategray;
}

article {
  border-top: 2px solid darkslateblue;
}

/* Styling */

a:link {
  color: rgb(116, 116, 1);
}

a:visited {
  color: rgb(116, 116, 1);
  text-decoration-line: none;
}

a:hover {
  color: gold;
}

a:active {
  color: gold;
  text-decoration: dotted;
}

.nav-link:link {
  color: black;
}

.nav-link:visited {
  color: black;
}
