/* General */

* {
  font-family: monospace;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 10% 1fr 20%;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "navigation navigation navigation"
    "navigation2 navigation2 navigation2"
    "aside content content"
    "footer footer footer";
}

.header,
.navigation,
.navigation2,
.content,
.aside,
.footer {
  border: 2px solid black;
}

.navigation,
.navigation2,
.footer {
  padding-left: 10%;
}

.header {
  grid-area: header;
  text-align: center;
}

.navigation {
  grid-area: navigation;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation2 {
  grid-area: navigation2;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#secnav {
  visibility: none;
}

.nav-item {
  text-align: center;
  width: 20ch;
  border: 2px solid red;
}

.content {
  grid-area: content;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}
