* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-size: 16px;
}

h1 {
  padding-top: 1em;
}
.header {
  height: 10vh;
  background-color: rgb(178, 218, 218);
  text-align: center;
}

.msg-box-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.msg {
  display: grid;
  width: 55%;
  border-radius: 5px;
  padding: 5px 8px;
  margin-bottom: 10px;
}

.msg-left {
  background-color: rgb(201, 255, 199);
  box-shadow: 3px 3px 3px rgb(173, 212, 171);
  padding: 1em 1.5em 1em 1.5em;
  margin: 1em;
}

.msg-right {
  float: right;
  background-color: rgb(199, 209, 255);
  box-shadow: 3px 3px 3px rgb(177, 190, 247);
  padding: 1em 1.5em 1em 1.5em;
  margin: 1em;
}

.msg-form {
  background-color: rgb(178, 218, 218);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 75%;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

.send-btn {
  width: 5%;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}
