/* General */

:root {
  --initial-color1: #fefae0;
  --initial-color2: #dda15e;
  --initial-color3: #bc6c25;
  --initial-color3-dark: #97571f;
  --text-color: #283618;

  --ff-custom: Georgia, "Times New Roman", Times, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--initial-color2);
}

html {
  box-sizing: border-box;
  font-family: var(--ff-custom);
  color: var(--text-color);
  font-size: 1.125rem;
}

img {
  display: block;
  max-width: 100%;
}

/* Typo */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h1 {
  font-size: 1.75rem;
}

h2,
h3 {
  line-height: 0.95;
}
h2 {
  font-size: 1.35rem;
  padding-block: 0.5em;
}

p {
  margin-block: 0.85rem;
}
.logo {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
}

/* Navigation */

header {
  padding: 2em 0 1em 0;
}

.intro {
  background-color: var(--text-color);
  color: var(--initial-color1);
  background-image: url(/pic/pic4.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 4em 0.5em 4em 0.5em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--text-color);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--initial-color3);
  text-decoration: underline;
}

/* Buttons */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.btn {
  padding: 0.75em 1.5em;
  color: var(--initial-color1);
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  text-align: center;
  border-radius: 0.25em;
  box-shadow: 0 0 1em var(--initial-color3);
}

.btn-primary {
  background: var(--initial-color3);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--initial-color3-dark);
}

/* Homepage styles */

.section-title {
  text-align: center;
}

.about-me {
  background-color: var(--initial-color1);
  display: flex;
  flex-direction: column;
}

.about-me__body {
  padding: 0.5rem;
}

.project-showcase {
  background-color: var(--initial-color1);
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  width: 90%;
  margin: auto;
}

.project {
  background-color: var(--initial-color2);
  border-radius: 0.25em;
  margin-block: 1em;
  padding: 1em;
  box-shadow: 0.1em 0.1em 1em var(--text-color);
}

.project > img {
  border-radius: 0.5em;
  border: 0.1em solid var(--initial-color3);
  box-shadow: 0 0 1em var(--initial-color3);
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-nav a {
  padding: 0.5em;
  text-decoration: none;
  color: var(--text-color);
}

@media only screen and (min-width: 750px) {
  section {
    padding: 0 7.5em 0 7.5em;
  }
}
