* {
  box-sizing: border-box;
}

body {
  background-color: #bbb;
}

header {
  padding-top: 5em;
}

nav {
  background-color: white;
  padding-left: 3em;
}

nav ul {
  list-style: none;
  position: relative;
  padding: 0;
}

nav li {
  text-align: center;
  display: inline-block;
}

.menu-col li {
  text-align: left;
  display: inline-block;
}

nav a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

nav li:hover {
  background-color: #444;
}

nav li:hover a {
  color: white;
}

.menu-sub {
  position: absolute;
  background-color: #444;
  color: white;
  display: none;
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
}

.menu-col {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

main {
  padding-left: 3.5em;
}
